* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(224, 224, 224);
}

.main-container {
    width: 1500px;
    margin: 80px 80px auto;

    display: grid;
    gap: 15px;
    grid-template-columns: 350px 1fr 1fr;
    grid-template-rows: 85px 1fr 1fr;
}

.side-bar-container {
    border-radius: 25px;
    background-color: #F0F0F0;
    height: 100%;
    padding: 50px 40px;

    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

.branding {
    display: flex;
    align-items: flex-end;
    gap: 8px;
    font-size: 26px;
    font-weight: bold;
    color: rgb(30, 91, 145);
}

.logo {
    fill: rgb(30, 91, 145);
    width: 40px;
    height: 40px;
}

/* NAV BUTTONS*/
.nav-buttons {
    margin-top: 100px;
    display: grid;
    gap: 40px;
}

.home {
    display: flex;
    align-items: center;
    gap: 10px;
}
.projects {
    display: flex;
    align-items: center;
    gap: 10px;
}
.projects :last-child {
    margin-left: auto;
}
.tasks {
    display: flex;
    align-items: center;
    gap: 10px;
}
.tasks :last-child {
    margin-left: auto;
}
.team {
    display: flex;
    align-items: center;
    gap: 10px;
}
.settings {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    fill: #969392;
    width: 26px;
    height: 26px;
}

.plus-icon {
    background-color: rgb(234, 234, 234);
    border-radius: 50px;
    width: 30px;
    height: 20px;
}

p {
    color: #969392;
}

.active {
    color: rgb(30, 91, 145);
    font-weight: bold;
}

.icon-active {
    fill: rgb(30, 91, 145);
    width: 26px;
    height: 26px;
}

/*UPGRADE CONTAINER*/
.upgrade-box {
    margin-top: 120px;
    background-color: white;
    border-radius: 30px;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.upgrade {
    font-weight: bold;
    font-size: 24px;
    color: #212548;
}

.upgrade-desc {
    margin-top: 5px;
    text-align: center;
    line-height: 1.5;
}

.btn-upgrade {
    margin-top: 20px;
    background-color: #B1D0F4;
    border: none;
    border-radius: 50px;
    color: rgb(86, 86, 86);
    font-size: 16px;
    font-weight: 600;
    padding: 15px 20px;
    width: 100%;
}

.sidebar-footer-container {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.help-and-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logout {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logout-icon {
    stroke: #F0F0F0;
}

.business-name {
    color: rgb(30, 91, 145);
}

.top-nav-container {
    background-color: white;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    border-radius: 25px;
}

.messaging-container {
    background-color: white;
    grid-column: 2 / 3;
    grid-row: 2 / -1;
    border-radius: 25px;

    padding: 10px;
}

.team-container {
    background-color: white;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    border-radius: 25px;
}

.meeting-container {
    background-color: white;
    grid-column: 3 / -1;
    grid-row: 3 / -1;
    border-radius: 25px;
}